@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 0 0% 0%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 222deg 93.75% 56.08%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.body {
  font-size: 16px;
  line-height: 24px;
}

.admin-footer {
  box-shadow: -3px 8px 9px 5px rgba(0, 0, 0, 0.5);
}

.bgPrimaryGradient {
  background: linear-gradient(0deg, #164CD9, #32AADD),
    linear-gradient(93.25deg, #164CD9 -12.45%, #32AADD 205.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.borderGradient {
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  background: white;
  background-clip: padding-box;
  border: solid 2px transparent; 
  border-radius: 1em;
}

.borderGradient::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit; 
  background: linear-gradient(76.53deg, #2661FA 8.71%, #32DDB4 98.16%);
}

.textGradient {
  background: linear-gradient(91.38deg, #2661FA -12.84%, #32DDB4 104.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardItem {
  background: #DDDDDD;
}

.cardItem:hover {
  background: #a1a0a0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardItem:hover .tagItem {
  background: white;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardItem:hover .cardImageItem {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  scale: 1.25;
}

.defautlCard > .clapIcon {
  visibility: visible;
  display: flex;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clapIcon:hover > svg path {
  fill: white;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}